.App {
  text-align: center;
  font-family: sans-serif;
}

.displayUser {
  margin-top: 20px;
}

.displayUser div {
  margin: 1.5rem auto;
  padding: 0.5rem;
  padding-bottom: 1rem;
  width: 25rem;
  height: auto;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
